table {
  border-collapse: collapse;
  th {
    border-bottom: 1px solid black;
    text-transform: capitalize;

    &:not(:first-child) {
      padding-left: 15px;
    }
  }
  td {
    text-align: center;
    padding: 10px 0px;
    tr {
      border-bottom: 1pt solid #c1c1c1;
    }
  }
}
